{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="h3 mb-3 font-weight-normal">Posts</h1>
        {% if query %}
            <span>Search results for: "{{ query }}"</span>
        {% endif %}
        {% if category %}
            <span>Category: {{ category.name }}</span>
        {% endif %}
        <span class="h">{{ posts|length }} results</span>
        {% for post in posts %}
            <article class="d-flex gap-4 col">
                <a href="/post/{{ post.id }}" class="col-6 position-relative">
                    <img src="/images/posts/{{ post.picture }}" alt="cover"
                         class="ratio ratio-16x9 rounded w-100 img-fluid">
                    <h3 class="position-absolute end-0 top-0">
                        <span class="badge text-bg- shadow" title="{{ post.idCategory.description }}">
                            {{ post.idCategory.name }}
                        </span>
                    </h3>
                </a>
                <div class="col-6">
                    <h2>{{ post.title }}</h2>

                    <p class="text-break d-inline-block" style="white-space: pre-wrap;">{{ post.content }}</p>
                    <p>Published at: {{ post.publishedAt|date('Y-m-d') }}</p>
                </div>
            </article>
            <hr>
        {% endfor %}
    </div>
{% endblock %}
